In [1]:
import pandas as pd
import numpy as np

In [27]:


# Define the data science disciplines and abbreviations
disciplines = [
    "Data Scientist",
    "Machine Learning Engineer",
    "Data Engineer",
    "Research Scientist",
    "Data Analyst",
    "Research Engineer",
    "Analytics Engineer",
    "Applied Scientist",
    "AI Developer",
    "Business Intelligence Analyst",
    "Data Architect"
]

abbreviations = [
    "DS",
    "MLE",
    "DE",
    "RS",
    "DA",
    "RE",
    "AE",
    "AS",
    "AID",
    "BIA",
    "DA"
]

# Define the annual pay packages for each role (sample values in USD)
annual_pay = [
    120000,  # Data Scientist
    115000,  # Machine Learning Engineer
    110000,  # Data Engineer
    105000,  # Research Scientist
    90000,   # Data Analyst
    95000,   # Research Engineer
    100000,  # Analytics Engineer
    108000,  # Applied Scientist
    125000,  # AI Developer
    95000,   # Business Intelligence Analyst
    130000   # Data Architect
]

# Generate random salary data for the last 20 years
np.random.seed(42)  # Set seed for reproducibility
years = 20
salary_data = {f"Year_{year}": np.random.randint(low=annual - 20000, high=annual + 25000, size=len(disciplines))
               for year, annual in zip(range(2013, 2025), annual_pay)}

# Create DataFrame
data = {
    "Data Science Discipline": disciplines,
    "Abbreviation": abbreviations,
    "Annual Pay Package (USD)": annual_pay,
}
data.update(salary_data)

In [24]:
df = pd.DataFrame(data)

In [25]:
# Display the DataFrame
print(df)

          Data Science Discipline Abbreviation  Annual Pay Package (USD)  \
0                  Data Scientist           DS                    120000
1       Machine Learning Engineer          MLE                    115000
2                   Data Engineer           DE                    110000
3              Research Scientist           RS                    105000
4                    Data Analyst           DA                     90000
5               Research Engineer           RE                     95000
6              Analytics Engineer           AE                    100000
7               Applied Scientist           AS                    108000
8                    AI Developer          AID                    125000
9   Business Intelligence Analyst          BIA                     95000
10                 Data Architect           DA                    130000

    Year_20
0    127412
1    143270
2    116910
3    135446
4    110206
5    131518
6    132361
7    133419
8    132403
9    128141
10   124820

In [26]:
df.head(11)

,Data Science Discipline,Abbreviation,Annual Pay Package (USD),Year_20
0,Data Scientist,DS,120000,127412
1,Machine Learning Engineer,MLE,115000,143270
2,Data Engineer,DE,110000,116910
3,Research Scientist,RS,105000,135446
4,Data Analyst,DA,90000,110206
5,Research Engineer,RE,95000,131518
6,Analytics Engineer,AE,100000,132361
7,Applied Scientist,AS,108000,133419
8,AI Developer,AID,125000,132403
9,Business Intelligence Analyst,BIA,95000,128141
10,Data Architect,DA,130000,124820

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Data Science Discipline   11 non-null     object
 1   Abbreviation              11 non-null     object
 2   Annual Pay Package (USD)  11 non-null     int64
 3   Year_2013                 11 non-null     int32
 4   Year_2014                 11 non-null     int32
 5   Year_2015                 11 non-null     int32
 6   Year_2016                 11 non-null     int32
 7   Year_2017                 11 non-null     int32
 8   Year_2018                 11 non-null     int32
 9   Year_2019                 11 non-null     int32
 10  Year_2020                 11 non-null     int32
 11  Year_2021                 11 non-null     int32
 12  Year_2022                 11 non-null     int32
 13  Year_2023                 11 non-null     int32
dtypes: int32(11), int64(1), object(2)
memory usage: 880.0+ bytes